[submodule "submodules/doc-theme"]
	path = submodules/doc-theme
	url = ../doc-theme.git
	branch = master
[submodule "submodules/accounts"]
	path = submodules/accounts
	url = ../accounts.git
	branch = master
[submodule "submodules/style"]
	path = submodules/style
	url = ../nimiq-style.git
	branch = master
