[submodule "elements"]
	path = elements
	url = ../elements.git
	branch = master
[submodule "apps/wallet"]
	path = apps/wallet
	url = ../wallet.git
	branch = master
[submodule "libraries/nano-api"]
	path = libraries/nano-api
	url = ../nano-api.git
	branch = master
[submodule "libraries/qr-encoder"]
	path = libraries/qr-encoder
	url = ../qr-encoder.git
	branch = master
[submodule "libraries/qr-scanner"]
	path = libraries/qr-scanner
	url = ../qr-scanner.git
	branch = master
[submodule "libraries/identicon"]
	path = libraries/identicon
	url = ../identicon.git
	branch = master
[submodule "libraries/robohash"]
	path = libraries/robohash
	url = ../robohash.git
	branch = master
[submodule "libraries/iqons"]
	path = libraries/iqons
	url = ../iqons.git
	branch = master
[submodule "libraries/mnemonic-phrase"]
	path = libraries/mnemonic-phrase
	url = ../mnemonic-phrase.git
	branch = master
[submodule "libraries/web-share-shim"]
	path = libraries/web-share-shim
	url = ../web-share-shim.git
	branch = master
[submodule "libraries/x-element"]
	path = libraries/x-element
	url = ../x-element.git
	branch = master
[submodule "libraries/nimiq-style"]
	path = libraries/nimiq-style
	url = ../nimiq-style.git
	branch = master
[submodule "libraries/nimiq-utils"]
	path = libraries/nimiq-utils
	url = ../nimiq-utils.git
	branch = master
[submodule "apps/nimiq-activation"]
	path = apps/nimiq-activation
	url = ../nimiq-activation.git
	branch = master
[submodule "meta/doc-theme"]
	path = meta/doc-theme
	url = ../doc-theme.git
	branch = master
[submodule "meta/email-template"]
	path = meta/email-template
	url = ../email-template.git
	branch = master
[submodule "meta/build-process"]
	path = meta/build-process
	url = ../build-process.git
	branch = master
[submodule "libraries/boruca-messaging"]
	path = libraries/boruca-messaging
	url = ../boruca-messaging.git
	branch = master
[submodule "apps/safe"]
	path = apps/safe
	url =../safe.git
	branch = master
[submodule "libraries/keyguard"]
	path = libraries/keyguard
	url =../keyguard.git
	branch = master
[submodule "libraries/network"]
	path = libraries/network
	url =../network.git
	branch = master
[submodule "libraries/es6-router"]
	path = libraries/es6-router
	url = ../es6-router.git
	branch = master
[submodule "libraries/redux"]
	path = libraries/redux
	url = ../redux.git
	branch = master
[submodule "libraries/redux-logger"]
	path = libraries/redux-logger
	url = ../redux-logger.git
	branch = master
[submodule "libraries/deep-object-diff"]
	path = libraries/deep-object-diff
	url = ../deep-object-diff.git
	branch = master
[submodule "libraries/account-manager"]
	path = libraries/account-manager
	url = ../account-manager.git
	branch = master
[submodule "secure-elements"]
	path = secure-elements
	url = ../secure-elements.git
	branch = master
[submodule "libraries/backup-file"]
	path = libraries/backup-file
	url = ../backup-file.git
	branch = master
[submodule "libraries/secure-utils"]
	path = libraries/secure-utils
	url = ../secure-utils.git
	branch = master
[submodule "libraries/ledger-api"]
	path = libraries/ledger-api
	url = ../ledger-api.git
	branch = master
[submodule "libraries/reselect"]
	path = libraries/reselect
	url = ../reselect.git
	branch = master
[submodule "libraries/patternLock"]
	path = libraries/patternLock
	url = ../patternLock.git
	branch = master
[submodule "apps/miner"]
	path = apps/miner
	url = https://github.com/nimiq-network/miner.git
	branch = daniel/main-net
